{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Password change</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
      <div class="container"><br>
            <h5>Parolni o'zgartirish </h5>
            <form  method="post">{% csrf_token %}
                  {{ form|crispy }}
                  <br>
                  <button type="submit" class="btn btn-primary" > Change </button>
                  <a href="{% url 'index' %}"  class="btn btn-danger"> Ortga qaytish </a>
            </form>
      </div>
</body>
<br><br><br><br><br><br><br>
            <footer> <center><p class="text-muted" >Abdurasulov Codes</p></center> </footer>
</html>