{% extends "base.html" %}

{% block content %}
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Teacher Dashboard</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item"><a href="{% url 'teacher-dashboard' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active"></li>
                </ol>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6">
                        <span class="text-muted mb-3 lh-1 d-block text-truncate">Bugungi kirim</span>
                        <h4 class="mb-3">
                            <span class="counter-value" data-target="{{todays_income}}">0</span> so'm
                        </h4>
                    </div>

                    <div class="col-6">
                        <div id="mini-chart1" data-colors='["#5156be"]' class="apex-charts mb-2"></div>
                    </div>
                </div>
                
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->

    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6">
                        <span class="text-muted mb-3 lh-1 d-block text-truncate">Mening hamyonim</span>
                        <h4 class="mb-3">
                            <span class="counter-value" data-target="{{request.user.wallet}}">0</span> so'm
                        </h4>
                    </div>
                    <div class="col-6">
                        <div id="mini-chart2" data-colors='["#5156be"]' class="apex-charts mb-2"></div>
                    </div>
                </div>
               
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col-->

   
    <div class="col-xl-6 col-md-6">
        <!-- card -->
        <div class="card card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-12">
                        <span class="text-muted mb-3 lh-1 d-block text-truncate">Oraliqni o'zgartirish</span>
                        <form method="post"  >{% csrf_token %}
                          
                            <div class="row" >
                              <div class="col-5" >
                                <label for="example-date-input" class="form-label">Boshlanish</label>
                                <input class="form-control" name="start" type="date" value="{{start}}" id="example-date-input">
                              </div>
                              <div class="col-5" >
                                <label for="example-date-input" class="form-label">Tugash</label>
                                <input class="form-control" name="end" type="date" value="{{end}}" id="example-date-input">
                              </div>
                              <div class="col-2" ><button style='margin-top:27px' type="submit" class="btn btn-primary" >Submit</button></div>

                            </div>
                      
                         
                     
                          
                        </form>
                        
                    </div>
                   
                </div>
               
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->    
</div><!-- end row-->
<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-header">
              <h4 class="card-title">Bugungi darslar</h4>
          </div>
          <div class="card-body">

              <table id="datatable" class="table table-bordered dt-responsive  nowrap w-100">
                  <thead>
                  <tr>
                      <th>#</th>
                      <th>Kurs nomi</th>
                      <th>Kunlar</th>
                      <th>Smena</th>
                      <th>O'quvchilar soni</th>
                      <th>Xona</th>
                      
                  </tr>
                  </thead>


                  <tbody>
                  {% for i in todays_courses %}  
                  <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{i.name}}</td>
                      {% if i.days == '1' %}
                      <td>Dush-Chor-Jum</td>
                      {% else %}
                      <td>Sesh-Pay-Shan</td>
                      {% endif %}
                      <td>{{i.time}}</td>
                      <td>{{i.students.count}}</td>
                      <td>{{i.room}}</td>
                  </tr>
                  {% endfor %}
                  </tbody>
              </table>

          </div>
      </div>
  </div> <!-- end col -->
</div> <!-- end row -->
<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-header">
              <h4 class="card-title">Bugungi kirim detallari</h4>
          </div>
          <div class="card-body">

              <table id="datatable" class="table table-bordered dt-responsive  nowrap w-100">
                  <thead>
                  <tr>
                      <th>#</th>
                      <th>Kurs nomi</th>
                      <th>O'quvchini ismi</th>
                      <th>Summa</th>
                      <th>Sana</th>
                  </tr>
                  </thead>


                  <tbody>
                  {% for i in pay_to_courses %}  
                  <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{i.course.name}}</td>
                      <td>{{i.student.full_name}}</td>
                      <td>{{i.transfer_summ}}</td>
                      <td>{{i.date}}</td>
                     
                  </tr>
                  {% endfor %}
                  </tbody>
              </table>

          </div>
      </div>
  </div> <!-- end col -->
</div> <!-- end row -->
<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-header">
              <h4 class="card-title">{{start}} dan {{end}} gacha kirim detallari</h4>
             
          <div class="card-body">
              <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">
                  <thead>
                  <tr>
                      <th>#</th>
                      <th>Kurs nomi</th>
                      <th>O'quvchining ismi</th>
                      <th>Summa</th>
                      <th>Sana</th>
                  </tr>
                  </thead>


                  <tbody>
                   {% for i in income_between_dates.pay_to_courses %} 
                  <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{i.course.name}}</td>
                      <td>{{i.student.full_name}}</td>
                      <td>{{i.transfer_summ}}</td>
                      <td>{{i.date}}</td>
                  </tr>
                  {% endfor %}

                  </tbody>
              </table>
          </div>
      </div>
      <!-- end cardaa -->
  </div> <!-- end col -->
</div> <!-- end row -->

{% endblock content %}