{% extends 'boss/base.html' %}
{% block title %} Barcha kurslar {% endblock title %}

{% block content %}
<style>
      .card{
            border: none;
      }
</style>
<div class="col-12">
      <div class="page-title-box d-sm-flex align-items-center justify-content-between">
          <h4 class="mb-sm-0 font-size-18">Barcha kurslar </h4>

          <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="{% url 'income' %}">Kirim</a></li>
                  <li class="breadcrumb-item active">Barcha kurslar</li>
              </ol>
          </div>
      </div>
  </div>
<div style= "margin-top: 15px;  " class=" card shadow col-12">
      <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Kurs nomi</th>
                <th scope="col">Ustoz</th>
                <th scope="col">Narx</th>
                <th scope="col">Kunlar</th>
                <th scope="col">Smena</th>
                <th scope="col">Xona</th>
                <th scope="col">O'quvchilar soni</th>
                <th scope="col">Ekshin</th>

                
              </tr>
            </thead>
            <tbody>
                  {% for i in courses %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{i.name}}</td>
                <td>{{i.teacher}}</td>
                <td>{{i.price}} so'm</td>
                <td>{{i.days}}</td>
                <td>{{i.time}}</td>
                <td>{{i.room}}</td>
                <td>{{i.students.count}}</td>
                <td><a class="btn btn-danger badge" href="{% url 'edit-course' i.id  %}"> Tahrirlash</a></td>
              </tr>
              {% endfor %}
              
            </tbody>
      </table>
{% endblock content %}
